{% extends 'base.html.twig' %}

{% block body %}
    <div style="width:50vw;">
        <h1>Page de connexion</h1>
        <form action="/" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Nom d'utilisateur :</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Se connecter">
            </div>
        </form>
    </div>
{% endblock %}